@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	text-align: center;
    background: #CACACA;
}

#container {
	margin: 1em auto;
	width: 778px;
	height: auto;
	text-align: left;
	background-color: #CACACA;
	#border: 1px solid #676767;
}

#sponsor {
	height: 50px;
	#border: 1px doted;
	border-color: #00CC66;
}

#menu {
	height: 30px;
	#border: 1px dotted black;
	background-color: #D9A82E;
}

#profile {
	float: right;
	width: 160px;
	height: 380px;
	border: 1px dotted black;
}

#contents {
	height: auto;
	#border: 1px dotted black;
    background-color: #CACACA;
}

#footer {
	height: 35px;
	#border: 1px dotted black;
	background-color: #D9A82E;
}

#login {
	width: 400px;
	height: auto;
	margin: 200px  auto;
   	position: relative;
	padding: 10px;
	background-color: #D9A82E;
	color: #227CE8
}

