<% @title = "Petshop WEB ERP" %>
<% @subtitle = "Sistema de ERP via WEB para Petshops." %>

<h1>Versão 0.0.4 em 13/03/2010 </h1>
<ul>
  <li>Correção da validação de obrigatoriedade dos campos de Estado e Cidade do sistema..</li>
</ul>


<br />
Veja um histórico de todas as alterações no nosso <%= link_to 'log de alterações.', :controller => 'geral', :action => 'change_log' %>
