Log de alterações realizadas no sistema. <br /><br />

<h1>Versão 0.0.3 em 13/03/2010 </h1>
<ul>
  <li>Correções de CSS.</li>
  <li>Adição de publicidade da google para manutenção do sistema.</li>
</ul>

<h1>Versão 0.0.2 em 18/02/2010 </h1>
<ul>
  <li>Criação do Cadastro de Clientes.</li>
  <li>Criação do Cadastro de Tipo de Animais.</li>
  <li>Criação do Cadastro de Raças.</li>
  <li>Criação do Cadastro de Animais.</li>
  <li>Criação da Associação de Animais aos Clientes</li>
  <li>Corrigidos redirecionamentos no sistema de login da aplicação</li>
</ul>

<h1>Versão 0.0.1 em 12/02/2010 </h1>
<ul>
  <li>Criação do tema da aplicação.</li>
  <li>Criação do sistema de usuário da aplicação.</li>
  <li>Criada o change log da aplicação.</li>
</ul>