Log de alterações realizadas no sistema. <br /><br />


<h1>Versão 0.0.2 em 18/02/2010 </h1>

Criação do Cadastro de Clientes. <br />
Criação do Cadastro de Tipo de Animais. <br />
Criação do Cadastro de Raças. <br />
Criação do Cadastro de Animais. <br />
Criação da Associação de Animais aos Clientes<br />
Corrigidos redirecionamentos no sistema de login da aplicação<br />

<br /><br />
<h1>Versão 0.0.1 em 12/02/2010 </h1>

Criação do tema da aplicação. <br />
Criação do sistema de usuário da aplicação. <br />
Criada o change log da aplicação. <br />
