<h1>Registre-se como um novo usuário do sistema.</h1>
<h3>Veja nossa tabela a baixo e registre-se na melhor modalidade.</h3>

<table>
  <tr>
    <th>Funcionalidade(s)</th>
    <th>Uso gratuito</th>
    <th>Uso Premium</th>
  </tr>
  <tr>
    <td>Cadastrar Clientes</td>
    <td>Ilimitado</td>
    <td>Ilimitado</td>
  </tr>
  <tr>
    <td>Adicionar animais ao cliente</td>
    <td>Apenas dois animiais por cliente.</td>
    <td>Ilimitado</td>
  </tr>
  <tr>
    <td>Cadastrar tipo de animais.</td>
    <td>Ilimitado</td>
    <td>Ilimitado</td>
  </tr>
</table>
